.icon-text-box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 15px; 
}

.icon-margin {
    margin-top: 15px;
}

.icon {
    width: 24px;
    height: 24px;
}

.icon-repositories {
    width: 25.5px;
    height: 24.5px;
}

.icon-text {
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    font-size: 20px;
    color: #5c5c5c;
    margin-left: 7px;
}