@import '../../styles/scss/fonts';
@import '../../styles/scss/variables';
@import '../../styles/scss/extends';
@import '../../styles/scss/base';

.search-component-result {
    margin: 35px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .search-logo-result {
        font-family: Monaco;
        font-size: 40px;
    }
}

.content {
    display: flex;

    .profile-picture {
        width: 280px;
        height: 280px;
    }

    .profile-title {
        font-family: 'Raleway', sans-serif;
        font-weight: 300;
        font-size: 35px;
        color: black;
        margin-top: 12px;
    }

    .profile-paragraph {
        font-family: 'Raleway', sans-serif;
        font-weight: 100;
        font-size: 20px;
        margin-top: 7px;
        color: $gray;
    }
}

