@import '../../styles/scss/fonts';
@import '../../styles/scss/variables';
@import '../../styles/scss/extends';
@import '../../styles/scss/base';

.search-component-result {
    margin: 35px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .search-logo-result {
        font-family: Monaco;
        font-size: 40px;
    }
}

.content {
    display: flex;
}