@import '../../styles/scss/variables';
@import '../../styles/scss/fonts';
@import '../../styles/scss/extends';

.search-component {
    display: flex;
    justify-content: center;
    align-items: center;

    .search-input {
        width: 650px;
        height: 50px;
        background-color: $white;
        font-family: 'Raleway', sans-serif;
        color: $gray;
        font-size: 20px;
        padding: 13px 17px;
      }
    
      .search-button {
        width: 100px;
        height: 50px;
        border: none;
        background-color: $purple;
      }
}