@import url('https://fonts.googleapis.com/css?family=Raleway:200i,300,400&display=swap');

@font-face {
  font-family: Monaco;
  src: local(Monaco),
    url('../../assets/fonts/Monaco\ Regular.woff2') format("woff2"),
    url('../../assets/fonts/Monaco\ Regular.woff') format("woff"),
    url('../../assets/fonts/Monaco\ Regular.ttf') format("truetype");
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: Raleway;
  src: local(Raleway-Regular),
    url('../../assets/fonts/Raleway\ Regular.woff2') format("woff2"),
    url('../../assets/fonts/Raleway\ Regular.woff') format("woff"),
    url('../../assets/fonts/Raleway\ Regular.ttf') format("truetype");
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}